
{% extends "Base/index.html" %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/experience.css' %}">
  <div class="top">
    <section id="cd-timeline" class="cd-container">
      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
        </div>
        <div class="cd-timeline-content">
          <h2>Trends & Technologies Inc.</h2>
            <div class="timeline-content-info">
              <span class="timeline-content-info-title">
              <i class="fa fa-certificate" aria-hidden="true"></i>
              Software Developer
              </span>
              <span class="timeline-content-info-date">
              <i class="fa fa-calendar-o" aria-hidden="true"></i>
              June 2017 - Present
              </span>
            </div>

              <br/>
              <i class="fa fa-code" > HR Smiles (Attendance)</i>
              <br/>
              <i class="fa fa-code" > Bamboo Catcher (Self-Service)</i>
              <br/>
              <i class="fa fa-code" > Data Catcher</i>
              <br/>
              <i class="fa fa-code" > SMS Gateway</i>
              <br/>
              <i class="fa fa-code" > Sales Revenue Management System</i>

              <ul class="content-skills">
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript</li>
                <li>jQuery</li>
                <li>Ajax</li>
                <li>ASP .NET</li>
                <li>C#</li>
                <li>Python</li>
                <li>Django</li>
                <li>MySQL</li>
                <li>VS Code</li>
                <li>Sublime Text</li>
                <li>Git Control</li>
                <li>MVS 2015</li>
                <li>MVS 2017</li>
              </ul>
        </div>
      </div> 

      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
        </div>
        <div class="cd-timeline-content">
          <h2>International Christian Academy</h2>
            <div class="timeline-content-info">
              <span class="timeline-content-info-title">
              <i class="fa fa-certificate" aria-hidden="true"></i>
              Management Information Sys.
              </span>
              <span class="timeline-content-info-date">
              <i class="fa fa-calendar-o" aria-hidden="true"></i>
              Jan. 2017 - May 2017
              </span>
            </div>

              <br/>
              <i class="fa fa-code" > Grading System</i>
              <br/>
              <i class="fa fa-code" > School Website (Wordpress)</i>
              <br/>
              <br/>
              <i class="fa fa-cogs" > System Compatibility Trainer</i>
              <br/>
              <i class="fa fa-cogs" > Quality Control / Repair</i>
              <br/>
              <i class="fa fa-cogs" > IT Lead</i>
              <br/>
              <i class="fa fa-cogs" > Domain Network Administration</i>
              <br/>
              <i class="fa fa-cogs" > Network Maintenance</i>

              <ul class="content-skills">
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript</li>
                <li>Wordpress</li>
                <li>C#</li>
                <li>MSV 2015</li>
                <li>Software</li>
                <li>Network</li>
                <li>Hardware</li>
              </ul>
        </div>
      </div>

      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
        </div>
        <div class="cd-timeline-content">
          <h2>PC Green Trading Corp.</h2>
            <div class="timeline-content-info">
              <span class="timeline-content-info-title">
                <i class="fa fa-certificate" aria-hidden="true"></i>
                IT Support Specialist
              </span>
              <span class="timeline-content-info-date">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                Jan. 2014 - Dec 2016
              </span>
            </div>

              <br/>
              <i class="fa fa-code" > Internal Warehouse Inventory System</i>
              <br/>
              <br/>
              <i class="fa fa-cogs" > System Compatibility Trainer</i>
              <br/>
              <i class="fa fa-cogs" > Quality Control / Repair</i>
              <br/>
              <i class="fa fa-cogs" > Head Technician</i>
              <br/>
              <i class="fa fa-cogs" > Resolve Network Problem</i>
              <br/>
              <i class="fa fa-cogs" > Network Maintenance</i>
              <ul class="content-skills">
                <li>C#</li>
                <li>MSV 2015</li>
                <li>MySQL</li>
                <li>Network</li>
                <li>Hardware</li>
                </ul>
        </div> 
      </div> 

      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
        </div>
        <div class="cd-timeline-content">
          <h2>Philcoryou</h2>
            <div class="timeline-content-info">
              <span class="timeline-content-info-title">
                <i class="fa fa-certificate" aria-hidden="true"></i>
                IT Support Specialist
              </span>
              <span class="timeline-content-info-date">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                April 2012 - Dec 2014
                </span>
            </div>

              <br/>
              <i class="fa fa-cogs" > System Compatibility Trainer</i>
              <br/>
              <i class="fa fa-cogs" > Quality Control / Repair</i>
              <br/>
              <i class="fa fa-cogs" > Head Technician</i>
              <br/>
              <i class="fa fa-cogs" > Resolve Network Problem</i>
              <br/>
              <i class="fa fa-cogs" > Network Maintenance</i>
              <ul class="content-skills">
                <li>Network</li>
                <li>Hardware</li>
                </ul>
        </div> 
      </div> 

</div>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
  {% endblock %}