{% extends "Base/index.html" %}
{% block content %}
{% load staticfiles %}

<style>
    .shadow{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .circle{
        border-radius: 50%;
    }

</style>
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<link rel="stylesheet" href="css/style.css" type="text/css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="top">
    <br/>
    <br/>
    <body class="w3-light-grey">
        <div class="w3-content w3-margin-top " style="max-width:1400px;">
            <div class="w3-row-padding">
                <div class="w3-third">
                    <div class="w3-white w3-text-grey w3-card-4">
                        <div class="w3-display-container">
                            <br/>
                            <center><img class="shadow circle" src="/static/img/kyrie.jpg" style="width:50%;"/></center>
                            <div class="w3-display-bottomleft w3-container w3-text-black">
                            </div>
                        </div>
                        <hr/>
                                <div class="w3-container">
                                        <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Software Developer</p>
                                        <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal  "></i>Las Pinas City</p>
                                        <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal  "></i>kyriegarcera23@mail.com</p>
                                        <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal  "></i>0906-4142-843</p>
                                        <hr/>

                                        <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-red"></i>IT Competencies</b></p>
                                        <hr/>
                                        <p><i class="fa fa-code fa-fw w3-margin-right w3-large w3-text-teal"></i>Software Developer</p>
                                        <p><i class="fa fa-terminal fa-fw w3-margin-right w3-large w3-text-teal  "></i>Back-End Developery</p>
                                        <p><i class="fa fa-gamepad fa-fw w3-margin-right w3-large w3-text-teal  "></i>Game Developer</p>
                                        <p><i class="fa fa-server fa-fw w3-margin-right w3-large w3-text-teal  "></i>Network Administration</p>
                                        <p><i class="fa fa-cogs fa-fw w3-margin-right w3-large w3-text-teal  "></i>IT Hardware Servicing</p>
                                        <br>
                                        <hr/>

                                        <p class="w3-large w3-text-theme"><b><i class="fa fa-child fa-fw w3-margin-right w3-text-red"></i>Personal Interest</b></p>
                                        <hr/>
                                        <p><i class="fa fa-music fa-fw w3-margin-right w3-large w3-text-teal"></i>Music</p>
                                        <p><i class="fa fa-gamepad fa-fw w3-margin-right w3-large w3-text-teal  "></i>Video Games</p>
                                        <p><i class="fa fa-bicycle fa-fw w3-margin-right w3-large w3-text-teal  "></i>Outdoor Activities</p>
                                        <p><i class="fa fa-book fa-fw w3-margin-right w3-large w3-text-teal  "></i>Reading Books</p>
                                        <p><i class="fa fa-globe fa-fw w3-margin-right w3-large w3-text-teal  "></i>Surf in the internet</p>
                                        <br>
                                </div>
                        </div>
                        <br>
                    </div>
                        
                        <div class="w3-twothird">
                            <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
                                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-crosshairs fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Objective</h2>
                                <hr/>
                                <div class="w3-container">
                                    <p>To be part of a company which support high quality software development projects and to develop technical and functional specification.</p>
                                </div>
                        </div>
                        <div class="w3-container w3-card-2 w3-white">
                                    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Tertiary Education</h2>
                                    <hr/>
                                    <div class="w3-container">
                                        <h5 class="w3-opacity"><b>College of Saint Adeline</b> /  <a  href="https://ched.gov.ph/datamex-college-saint-adeline-profile/">CHED</a> /  <a  href="http://www.stadeline.edu.ph/">School Website</a></h5>
                                        <h6 class="w3-text-red">Bachelor of Information Technology</h6>
                                        <h6 class="w3-text-teal">Awards:</h6> 
                                        <i class="fa fa-trophy"></i> Top 1 Gold Medalist in 2017
                                        <br/> 
                                        <i class="fa fa-trophy"></i> Top 2 in Academic Excellence in 2017
                                        <br/>  
                                        <i class="fa fa-trophy"></i> Top 4 Overall IT in 2015
                                        <br/>
                                        <i class="fa fa-trophy"></i> Best Programmer in 2015
                                        <br/> 
                                        <i class="fa fa-trophy"></i> Best Database Management 2
                                        <br/> 
                                        <i class="fa fa-trophy"></i> Top 2 Overall IT in 2014 
                                        
                                        <h6 class="w3-text-teal">Remarks:</h6>
                                        <i>"During my college days to support my financial needs, I'm a working student that employed in Philcoryou transfer to PC Green Trading Corporation".</i>
                                        <hr>
                                    </div>
                                    <div class="w3-container">
                                        <h5 class="w3-opacity"><b>Datamex Institute of Computer Technology</b></h5>
                                        <h6 class="w3-text-red">Associate in Software Technology</h6>
                                        <a  href="http://tesdatrainingcourses.com/datamex-institute-of-computer-technology-pasay-city.html">School Website</a></h5>
                                        <hr>
                                    </div>
                            </div>
                        </div>  
                    </div>
                </div>
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
{% endblock %}