{% extends "Base/index.html" %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/projects.css' %}"/>
<div class="top">
    <br/>
    <br/>
    <div class="blog-card">
        <div class="meta">
          <div class="photo" style="background-image: url('/static/img/py.png')"></div>
          <ul class="details">
            <br/>
            <i class="fas fa-globe"></i> Web App</a></li>
            <br/>
            <i class="fas fa-sync"></i> Web API</a></li>
            <br/>
            <i class="fas fa-database"></i> MSSQL</a></li>
            <br/>
            <i class="fas fa-terminal"></i> Git bash</a></li>
            <br/>
            <i class="fas fa-code"></i> Visual Studio Code</a></li>
          </ul>
        </div>
        <div class="description">
          <h1>HR Smiles (Attendance)</h1>
          <hr/>
          <h2>August 2018 – October 2018</h2>
          <p> A software application (middle ware) that integrate the data between two application software using RESTful API, getting the response from web application then getting the attendance of the employee from biometrics to integrated the data to the internal system.</p>
          <br/>
          <hr/>
          <strong>Trends and Technologies, Holding Inc.</strong>
        </div>
      </div>

      <div class="blog-card alt">
        <div class="meta">
          <div class="photo" style="background-image: url('/static/img/py.png')"></div>
          <ul class="details">
              <br/>
              <i class="fas fa-globe"></i> Web App</a></li>
              <br/>
              <i class="fas fa-sync"></i> Web API</a></li>
              <br/>
              <i class="fas fa-database"></i> MSSQL</a></li>
              <br/>
              <i class="fas fa-terminal"></i> Git bash</a></li>
              <br/>
              <i class="fas fa-code"></i> Visual Studio Code</a></li>
            </ul>
            </li>
          </ul>
        </div>
        <div class="description">
          <h1>HR Smiles(Self-Service)</h1>
          <hr/>
          <h2>April 2018 – August 2018</h2>
          <p>A software application (middle ware) that integrate the data between two application software using RESTful API, getting the response from web application integrated the data to the payroll system.</p>
          <br/>
          <hr/>
          <strong>Trends and Technologies, Holding Inc.</strong>
        </div>
      </div>

      <div class="blog-card">
            <div class="meta">
              <div class="photo" style="background-image: url('/static/img/py.png')"></div>
              <ul class="details">
                  <br/>
                  <i class="fas fa-globe"></i> Web App</a></li>
                  <br/>
                  <i class="fas fa-sync"></i> Web API</a></li>
                  <br/>
                  <i class="fas fa-database"></i> MSSQL</a></li>
                  <br/>
                  <i class="fas fa-terminal"></i> Git bash</a></li>
                  <br/>
                  <i class="fas fa-code"></i> Visual Studio Code</a></li>
                </ul>
            </div>
            <div class="description">
              <h1>Data Catcher</h1>
              <hr/>
              <h2>February 2018 – April 2018</h2>
              <p> A software application (middle ware) that integrate the data between two application from outsource web application using RESTful API to Internal software application (vise versa).</p>
              <br/>
              <hr/>
              <strong>Trends and Technologies, Holding Inc.</strong>
            </div>
          </div>
    
    <div class="blog-card alt">
        <div class="meta">
            <div class="photo" style="background-image: url('/static/img/csharp.png')"></div>
            <ul class="details">
                <br/>
                  <i class="far fa-window-restore"></i> Window App</a></li>
                  <br/>
                  <i class="fas fa-wifi"></i> Modem</a></li>
                  <br/>
                  <i class="fas fa-database"></i> Heidi SQL</a></li>
                  <br/>
                  <i class="fas fa-code"></i> Visual Studio 2015</a></li>
                </ul>
            </li>
            </ul>
        </div>
        <div class="description">
            <h1>SMS Gateway</h1>
            <hr/>
            <h2>Dec. 2017 - Dec 2017</h2>
            <p>A window application that handles incoming and outgoing SMS from different engineer.</p>
            <br/>
            <hr/>
            <strong>Trends and Technologies, Holding Inc.</strong>
        </div>
        </div>

        <div class="blog-card">
                <div class="meta">
                  <div class="photo" style="background-image: url('/static/img/csharp.png')"></div>
                  <ul class="details">
                      <br/>
                      <i class="fas fa-globe"></i> Web App</a></li>
                      <br/>
                      <i class="fas fa-sync"></i> Web API</a></li>
                      <br/>
                      <i class="fas fa-database"></i> MSSQL</a></li>
                      <br/>
                      <i class="fas fa-code"></i> Visual Studio 2015</a></li>
                  </ul>
                </div>
                <div class="description">
                  <h1>Sales Revenue Management System</h1>
                  <hr/>
                  <h2>June 2017 – December 2017</h2>
                  <p>A web application that adding a client, sales, generating a report and reviewing the sales of the company.</p>
                  <br/>
                  <hr/>
                  <strong>Trends and Technologies, Holding Inc.</strong>
                </div>
              </div>

              <center><hr width="40%"/></center>
              

              <div class="blog-card alt">
                  <div class="meta">
                      <div class="photo" style="background-image: url('/static/img/word.png')"></div>
                      <ul class="details">
                          <br/>
                          <i class="fas fa-globe"></i> Web App</a></li>
                            <br/>
                            <i class="fas fa-database"></i> MSSQL</a></li>
                          </ul>
                      </li>
                      </ul>
                  </div>
                  <div class="description">
                      <h1>School Website</h1>
                      <hr/>
                      <h2>January 2017 – May 2017</h2>
                      <p>Adding and modify of some module of the school website using Word press.</p>
                      <br/>
                      <hr/>
                      <strong>Internation Christian Academy</strong>
                  </div>
                  </div>
          
                  <div class="blog-card">
                          <div class="meta">
                            <div class="photo" style="background-image: url('/static/img/csharp.png')"></div>
                            <ul class="details">
                                <br/>
                                <i class="far fa-window-restore"></i> Window App</a></li>
                                <br/>
                                <i class="fas fa-database"></i> MSSQL</a></li>
                                <br/>
                                <i class="fas fa-code"></i> Visual Studio 2015</a></li>
                            </ul>
                          </div>
                          <div class="description">
                            <h1>Grading System</h1>
                            <hr/>
                            <h2>January 2017 – May 2017</h2>
                            <p>A software application that calculates the grade of the student and generates report.</p>
                            <br/>
                            <hr/>
                            <strong>Internation Christian Academy</strong>
                          </div>
                        </div>


                        <center><hr width="40%"/></center>

                        <div class="blog-card alt">
                            <div class="meta">
                                <div class="photo" style="background-image: url('/static/img/csharp.png')"></div>
                                <ul class="details">
                                    <br/>
                                    <i class="far fa-window-restore"></i> Window App</a></li>
                                    <br/>
                                    <i class="fas fa-database"></i> MYSQL</a></li>
                                    <br/>
                                    <i class="fas fa-code"></i> Visual Studio 2012</a></li>
                                </ul>
                                </li>
                                </ul>
                            </div>
                            <div class="description">
                                <h1>Internal Warehouse Inventory System</h1>
                                <hr/>
                                <h2>January 2014 – December 2016</h2>
                                <p>A Network desktop application software that support the admin and user side. The full function of the software is to calculate the total stocks of each computer parts, Logs the Incoming and outgoing stocks of each department, adding edit updating new stocks and generating reports.</p>
                                <br/>
                                <hr/>
                                <strong>PC Green Trading Corp.</strong>
                            </div>
                            </div>

          



</div>
{% endblock %}