{% extends "Base/index.html" %}
    {% block content %}
    {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/customSkillsback.css' %}"/>
        
        <div class="top">
          <br/>
          <br/>
                <div id="SkillBox">
                  <center><p style="font-size:20px;">Front-End Skills</p></center>
                  <hr/>

                <div class="SkillBar">
                  <div id="Skill-MYSQL"> 
                    <span class="Skill-Area ">HTML</span>
                    <span class="PercentText ">90%</span>
                  </div>
                </div>
                  
                <div class="SkillBar">
                  <div id="Skill-MSSQL">
                    <span class="Skill-Area ">CSS</span>
                    <span class="PercentText ">90%</span>
                  </div>
                </div>
                  
                <div class="SkillBar">
                  <div id="Skill-JS">
                    <span class="Skill-Area ">Django</span>
                    <span class="PercentText ">70%</span>
                  </div>
                </div>

                <div class="SkillBar">
                    <div id="Skill-Asp">
                      <span class="Skill-Area ">ASP .NET</span>
                      <span class="PercentText ">80%</span>
                    </div>
                  </div>
                  
                
                <div class="SkillBar">
                  <div id="Skill-JS">
                    <span class="Skill-Area ">Javascript </span>
                    <span class="PercentText ">70%</span>
                  </div>
                </div>
                
                  <div class="SkillBar">
                  <div id="Skill-jQ">
                    <span class="Skill-Area ">jQuery</span>
                    <span class="PercentText ">50%</span>
                  </div>
                </div>

                <div class="SkillBar">
                    <div id="Skill-Arduino">
                      <span class="Skill-Area ">Ajax</span>
                      <span class="PercentText ">50%</span>
                    </div>
                  </div>

                  <div class="SkillBar">
                      <div id="Skill-Asp">
                        <span class="Skill-Area ">Wordpress</span>
                        <span class="PercentText ">80%</span>
                      </div>
                    </div>
                
                  <div class="SkillBar">
                  <div id="Skill-React">
                    <span class="Skill-Area ">React Js </span>
                    <span class="PercentText ">40%</span>
                  </div>
                </div>
                
                  <div class="SkillBar">
                  <div id="Skill-Angular">
                    <span class="Skill-Area ">Angular Js</span>
                    <span class="PercentText ">30%</span>
                  </div>
                </div>
                </div>

<!-- 2nd card -->
                
                <div id="SkillBox">
                    <center><p style="font-size:20px;">Back-End Skills</p></center>
                    <hr/>

                  <div class="SkillBar">
                    <div id="Skill-MSSQL"> 
                      <span class="Skill-Area ">MSSQL</span>
                      <span class="PercentText ">90%</span>
                    </div>
                  </div>
                    
                  <div class="SkillBar">
                    <div id="Skill-MYSQL">
                      <span class="Skill-Area ">MYSQL</span>
                      <span class="PercentText ">90%</span>
                    </div>
                  </div>  
                    
                  <div class="SkillBar">
                    <div id="Skill-Python">
                      <span class="Skill-Area ">Python</span>
                      <span class="PercentText ">90%</span>
                    </div>
                  </div>

                  <div class="SkillBar">
                      <div id="Skill-Asp">
                        <span class="Skill-Area ">C#</span>
                        <span class="PercentText ">80%</span>
                      </div>
                    </div>
                    
                  
                  <div class="SkillBar">
                    <div id="Skill-JS">
                      <span class="Skill-Area ">Nodejs </span>
                      <span class="PercentText ">70%</span>
                    </div>
                  </div>
                  
                    <div class="SkillBar">
                    <div id="Skill-jQ">
                      <span class="Skill-Area ">Unity (C#)</span>
                      <span class="PercentText ">50%</span>
                    </div>
                  </div>

                  <div class="SkillBar">
                      <div id="Skill-Arduino">
                        <span class="Skill-Area ">Arduino Ide (C#)</span>
                        <span class="PercentText ">50%</span>
                      </div>
                    </div>
                  
                    <div class="SkillBar">
                    <div id="Skill-VBNET">
                      <span class="Skill-Area ">VB .NET </span>
                      <span class="PercentText ">100%</span>
                    </div>
                </div>
              </div>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    {% endblock %}