<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Portfolio</title>
</head>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="{% static 'css/padding.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-blue.min.css" />
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="">CRUD</a>
                    <a class="mdl-navigation__link" href="">API</a>
                </nav>
                </div>
            </header>
            <div class="mdl-layout__drawer">
                <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="{% url 'home' %}"><i class="fas fa-home"></i>  Home</a>
                <a class="mdl-navigation__link" href="{% url 'about' %}"><i class="far fa-user"></i>  About</a>
                <a class="mdl-navigation__link" href="{% url 'exp' %}"><i class="far fa-handshake"></i>  Work Experience</a>
                <a class="mdl-navigation__link" href="{% url 'skills' %}"><i class="fas fa-sitemap"></i>  Skills</a>	
                <a class="mdl-navigation__link" href="{% url 'proj' %}"><i class="fas fa-project-diagram"></i>  Projects</a>	
                </nav>
            </div>
    </div>
		<div class="container">
			{% block content %}

			{% endblock %}
		</div>
</body>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</html>